*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: preloader 1s linear;
}

@keyframes circle {
    0%{
        transform-origin: 300% 50%;
        transform: rotate(0);
    }
    50%{
        transform-origin: 300% 50%; 
        transform: rotate(360deg);
    }
    50.1%{
        transform-origin: -300% -50%; 
        transform: rotate(0deg);
    }
    100%{
        transform-origin: -300% -50%; 
        transform: rotate(-360deg);
        background-color: red;
    }
}
@keyframes circle2 {
    0%{
        transform-origin: -300% -50%;
        transform: rotate(0);
    }
    50%{
        transform-origin: -300% -50%; 
        transform: rotate(360deg);
    }
    50.1%{
        transform-origin: 300% 50%; 
        transform: rotate(0deg);
    }
    100%{
        transform-origin: 300% 50%; 
        transform: rotate(-360deg);
        background-color: white;
    }
}


.rotate-circle{
    width: 10px;
    height: 10px;
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
}
.one{
    animation: one 2s infinite linear;
}
.two{
    animation: two 2s infinite linear;
}
.three{
    animation: three 2s infinite linear;
}
.four{
    animation: four 2s infinite linear;
}
.five{
    animation: five 2s infinite linear;
}

@keyframes one {
    0%{
        background-color: rgb(61, 61, 61);
    }
    10%{
        background-color: rgb(221, 221, 221);
    }
}
@keyframes two {
    10.1%{
        background-color: rgb(61, 61, 61);
    }
    20%{
        background-color: rgb(221, 221, 221);
    }
}
@keyframes three {
    20.1%{
        background-color: rgb(61, 61, 61);
    }
    30%{
        background-color: rgb(221, 221, 221);
    }
}
@keyframes four {
    30.1%{
        background-color: rgb(61, 61, 61);
    }
    40%{
        background-color: rgb(221, 221, 221);
    }
}
@keyframes five {
    40.1%{
        background-color: rgb(61, 61, 61);
    }
    50%{
        background-color: rgb(221, 221, 221);
    }
}